---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import IndexNavbar from '../components/IndexNavbar.astro'

const response = await fetch('https://bookreads-api-production.jortohme.workers.dev/bestsellers')
const data = await response.json()
---

<Layout title="Welcome to Astro.">
	<Header />

	<div class="flex justify-center">
		<div class="flex max-w-7xl lg:w-3/4">
			
			<IndexNavbar />

			<main class="w-full py-5 text-center">
				<h1 class="text-3xl font-extrabold md:text-5xl">Bienvenido a <span class="text-gradient">Bookreads</span></h1>
				<p class="text-xl">
					Mira el top diario de libros vendidos en <a href="https://www.bookdepository.com/es/" target="_blank" class="text-blue-500">Bookdepository</a>.<br />
				</p>
			</main>
		</div>
	</div>
	
	<Footer />
</Layout>

<style>
	.border {
		border: 1px solid #000;
		border-collapse: collapse;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 300%;
		background-position: 0%;
	}
</style>
